---
import Layout from '../layouts/main.astro'
import '../styles/global.css'
---

<Layout>
	<main class="grid place-items-center h-screen content-center">
		<p class="text-neutral-500 font-sans text-8xl">Hello Inter</p>
		<p class="text-neutral-500 font-rubik text-8xl">Hello Rubik</p>
		<p class="text-neutral-500 font-pally text-8xl">Hello Pally</p>
	</main>
</Layout>
