---
interface Props {
  variant: 'facebook' | 'instagram'
  href: string
  alt: string
}

const { variant, href, alt } = Astro.props
---

<a class='text-gray-500 hover:text-gray-900' href={href} target='_blank'>
  <span class='sr-only'>{alt}</span>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    class='w-5 h-5'
  >
    {
      variant === 'facebook' && (
        <path d='M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z' />
      )
    }
    {
      variant === 'instagram' && (
        <>
          <rect width='20' height='20' x='2' y='2' rx='5' ry='5' />
          <path d='M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z' />
          <line x1='17.5' x2='17.51' y1='6.5' y2='6.5' />
        </>
      )
    }
  </svg>
</a>
