---
import '@fontsource-variable/raleway'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content="Favoriser l'émergence et le soutien d'activités en cohérence avec nos valeurs afin de créer des nouvelles formes de solidarités entre les citoyens, acteurs, métiers, territoires."
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='font-sans'>
    <slot />
  </body>
</html>
